<div class="cars-list">
    <div *ngFor="let oto of otos" class="car-card">
      <img [src]="oto.photoUrl" alt="{{oto.model}}"  class="car-photo">
      <div class="car-details">
        <h3>{{ oto.brand }} {{ oto.model }}</h3>
        <p>Mileage: {{ oto.mileage }} km</p>
        <p>Fuel: {{ oto.fuel }}</p>
        <p>Transmission: {{ oto.transmission }}</p>
        <p>Year: {{ oto.year }}</p>
        <p>Price: ${{ oto.price }}</p>
        <p>Color: {{ oto.color }}</p>
      </div>
    </div>
  </div>
